extends layout

//block content
//  div.top
//    form.form-horizontal(method="post", id="loginForm")
//      label Username
//      input.span3(id="username", type="text", name="User", placeholder="Enter your username")
//      label Password
//      input.span3(id="password", type="password", name="Password")
//      input.btn(type="submit", value="Log In")
//  div.container
//    div.content
//      table.table.table-striped
//        thead
//          tr
//            th Table
//            th Heading
//        tbody
//          tr
//            td Blah
//            td Test
//          tr
//            td Helloa
//            td World
//
//  div.footer

block content
  h1= title
  p Welcome to #{title}

  div
    .table-responsive
      table.table.table-striped
        thead
          tr
            th #
            th Header
            th Header
            th Header
            th Header
        tbody
          tr
            td 1,001
            td Lorem
            td ipsum
            td dolor
            td sit
          tr
            td 1,002
            td amet
            td consectetur
            td adipiscing
            td elit

  div
    .table-responsive
    table.table.table-striped
      thead: tr: th Zurnalu sarasas
      - console.log('@@@in index.jade: ', 'in index.jade@@@')
        tr
          - for (var i = 0; i < kiekisStulpeliuRodomu; i++) {
            th= getPavadinimaStulpelio(i)
          - }
      tbody
        - console.log('444444', masyvasDocumentuZurnalu)
        - for (var numerisEilutesIrElemento = 0; numerisEilutesIrElemento < masyvasDocumentuZurnalu.length; numerisEilutesIrElemento++) {
          tr
            - console.log('22222', numerisEilutesIrElemento);
            - var objektasDocumentZurnalo = masyvasDocumentuZurnalu[numerisEilutesIrElemento];
            - var rasta = false;
            - for (var numerisStulpelio = 0; numerisStulpelio < kiekisStulpeliuRodomu; numerisStulpelio++) {
              - console.log('77777777777', objektasDocumentZurnalo);
              - console.log('88888888888', getPavadinimaFieldo(numerisStulpelio));
              - console.log('99999999999', getPavadinimaStulpelio(numerisStulpelio));
              - console.log('AAAAAAAAAAA', objektasDocumentZurnalo.hasOwnProperty(getPavadinimaFieldo(numerisStulpelio)));
              - if (numerisStulpelio == 0) {
                td= numerisEilutesIrElemento
              - }
              - else if (objektasDocumentZurnalo.hasOwnProperty(getPavadinimaFieldo(numerisStulpelio))) {
                //td RADO
                td= objektasDocumentZurnalo[getPavadinimaFieldo(numerisStulpelio)]
                //- rasta = true;
                //- break;
              - }
              - else {
                td -
              - }
            - }

            //- for (var stringPavadinimasPropercio in objektasDocumentZurnalo) {
            //  - console.log('555555', numerisElementoMasyvo);
            //  - if (stringPavadinimasPropercio !== '_id') {
            //    td= objektasDocumentZurnalo[stringPavadinimasPropercio]
            //  - }
            //- }
        - }


  div
    a(href='/prisijungimas') Prisijungti



// cia siaip komentara testinimui pridedu