// Created by Martynas on 4/9/2016.

extends main_layout.jade

block CONTENT
  #paneleIrasoRedagavimo.panel.panel-default(style='padding:10px')
    .container-fluid
      h1.col-sm-offset-5= headeris
      br
      form.form-horizontal.col-sm-offset-1.col-sm-8(name='naujasirasas' method='post' action=pp.vv.pathPostNaujaIrasa)
        - for (var numerisStulpelioIrFieldo = 0; numerisStulpelioIrFieldo < pp.vv.getKiekiStulpeliuIrFieldu(); numerisStulpelioIrFieldo++) {
          .form-group
            -
              if (pp.vv.getArRodomasStulpelisLenteleje(pp.vv.pavadinimasCollection, numerisStulpelioIrFieldo)
              && pp.vv.getArFiksuojamasFieldasDuomenuBazeje(pp.vv.pavadinimasCollection, numerisStulpelioIrFieldo)) {
                label.col-sm-2.control-label(for=pp.vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo)) #{pp.vv.getPavadinimaStulpelio(pp.pavadinimasCollection, numerisStulpelioIrFieldo)}
                .col-sm-10
                  -if (pp.documentIraso) {
                    textarea.form-control(type='text' id=pp.vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo) name=pp.vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo)).
                      #{(pp.documentIraso[pp.vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo)] ? pp.documentIraso[pp.vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo)] : '')}
                  -}
                  -else {
                    textarea.form-control(type='text' id=pp.vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo) name=pp.vv.getPavadinimaFieldo(pp.vv.pavadinimasCollection, numerisStulpelioIrFieldo))
                  -}
            - }
        - }
        .col-sm-offset-2
          .form-group
            .col-sm-6
              button(type='submit').btn.btn-success.form-control Įrašyti
            .col-sm-6
              a(href='/').btn.btn-default.form-control Atsisakyti

//- if (typeof jQuery == 'undefined') {
//  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
//- }
//script.
//  $(document).ready(function(){
//    console.log(documentIraso);
//  });
















