// Created by Martynas on 4/9/2016.

extends main_layout.jade


block NAVBAR
  include navbar.jade

block CONTENT
  #paneleIrasoRedagavimo.panel.panel-default(style='padding:10px')
    .container-fluid
      h1.col-sm-offset-5= headeris
      br
      form.form-horizontal.col-sm-offset-1.col-sm-8(name='irasas_naujas_arba_modifikuotas' method='post' action=pp.req.baseUrl+'/'+pp.pavadinimasCollection)
        - for (var numerisStulpelioIrFieldo = 0; numerisStulpelioIrFieldo < vv.getKiekiStulpeliuIrFieldu(pp.pavadinimasCollection); numerisStulpelioIrFieldo++) {
          .form-group
            - if (vv.getArRodomasStulpelisLenteleje(pp.pavadinimasCollection, numerisStulpelioIrFieldo) && vv.getArFiksuojamasFieldasDuomenuBazeje(pp.pavadinimasCollection, numerisStulpelioIrFieldo)) {
              - var pavadinimasFieldo = vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo);
              - var pavadinimasStulpelio = vv.getPavadinimaStulpelio(pp.pavadinimasCollection, numerisStulpelioIrFieldo);
              label.col-sm-2.control-label(for=pavadinimasFieldo) #{pavadinimasStulpelio}
                .col-sm-10
                        //-if (pp.documentIraso) {
                        //  textarea.form-control(type='text' id=vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo) name=vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo)).
                        //    #{(pp.documentIraso[vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo)] ? pp.documentIraso[vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo)] : '')}
                        //-}
                        //-else {
                        //  textarea.form-control(type='text' id=vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo) name=vv.getPavadinimaFieldo(pp.pavadinimasCollection, numerisStulpelioIrFieldo))
                        //-}
                textarea.form-control.textAreaDocumento(type='text' id=pavadinimasFieldo name=pavadinimasFieldo)
                  - if (pp.documentIraso) {
                    #{(pp.documentIraso[pavadinimasFieldo] ? pp.documentIraso[pavadinimasFieldo] : '')}
                  - }
            - }
        - }
        .col-sm-offset-2
          .form-group
            .col-sm-6
              //button(type='submit')#mygtukasIrasyti.btn.btn-success.form-control Įrašyti
              button#mygtukasIrasyti.btn.btn-success.form-control Įrašyti
            .col-sm-6
              a(href=pp.req.baseUrl+'/'+pp.pavadinimasCollection).btn.btn-default.form-control Atsisakyti


- if (typeof jQuery == 'undefined') {
  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
- }
script.
  $(document).ready(function(){
    $('#mygtukasIrasyti').click(function() {
      var masyvasDocumento;
    });
  });
















